<h1><%= @channel.name %></h1>
<p><%= @channel.description%></p>

<% @channel.users.each do |u| %>
<h6><%= u.email %></h6>
<%end%>

<% @channel.messages.each do |m| %>
<h6><%= m.text_message %></h6>
<%end%>


<%= form_for Message.new, :remote => true do |f| %>
	 <%= f.label :text_message %>
	 <%= f.text_area :text_message,:rows => "3" %><br />
	 <%= f.hidden_field :channel_id , :value => @channel.id %>
	 <%= f.hidden_field :user_id , :value => current_user.id %>
	 <%= f.submit %>
<% end %>
