<h1><%= @channel.name %></h1>
<p><%= @channel.description%></p>

<div class="pull-right">
	<h5>Users</h5>
	<% @channel.users.uniq.each do |u| %>
	<h6><%= u.email %></h6>
	<%end%>
</div>

<div id="messages">
<%=render :partial =>"message"%>
</div>

<%= form_for @message, :remote => true do |f| %>
	 <%= f.label :text_message %>
	 <%= f.text_area :text_message,:rows => "3" %><br />
	 <%= f.hidden_field :channel_id , :value => @channel.id %>
	 <%= f.hidden_field :user_id , :value => current_user.id %>
	 <%= f.submit %>
<% end %>

<script type="text/javascript">
$('#message_text_message').keypress(function (e) {
	console.log(e.which);
  if(e.which == 13) {
  	console.log("hh");
    $('form#new_message').submit();
    return false;    
  }
});
	
</script>
<%= subscribe_to "/messages/new/#{@channel.id}" %>