<h6>Profile	</h6>


<%= form_for (current_user.user_detail ? current_user.user_detail : current_user.build_user_detail)   do |f| %>
	<%= f.label :first_name %>
	<%= f.text_field :first_name %><br />

	<%= f.label :last_name %>
	<%= f.text_field :last_name %><br />
	<%= f.submit %>
<% end %>

<script type="text/javascript">
$(document).ready(function(){
	$(".nav").find(".active").removeClass('active');
	$('.nav li:nth-child(2)').addClass('active')
});
</script>